* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-image: url("./MintiflyImages/Mintifly-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 150px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.middle-nav ul,
.right-nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.middle-nav a {
  color: #08090b;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 20px;
  mix-blend-mode: difference;
}

.middle-nav a:hover {
  background-color: rgba(244, 241, 241, 0.25);
}

.right-nav a {
  text-decoration: none;
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 25px;
}

.contact {
  color: #fff;
  background-color: rgba(244, 241, 241, 0.25);
}

.start {
  background-color: #fff;
  color: #111;
}
.cta-wrapper {
  text-align: center;
}

.CTA {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(244, 241, 241, 0.27);
  border-radius: 16px;
  padding: 10px 16px;
  margin-bottom: 32px;
}

.new {
  background-color: #18e299;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.self {
  color: #fff;
  font-size: 16px;
}

.platform {
  margin-bottom: 32px;
}

.platform h1 {
  font-size: 88px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

.teams {
  margin-bottom: 48px;
}

.teams p {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  height: 60px;
  padding: 12px 140px 12px 20px;
  border-radius: 30px;
  border: 1px solid rgba(244, 241, 241, 0.27);
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-group button {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  height: 48px;
  padding: 0 24px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 80%;
  margin: 20ps auto;
}

section {
  padding: 120px 0;
}

.company {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  font-family: Arial, sans-serif;
}

.company ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
}

.company li {
  display: flex;
  justify-content: center;
}

.company a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: #111;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.company span {
  color: #0070ba;
  font-style: italic;
}

.section-title {
  margin: 140px auto 120px;
  max-width: 900px;
}

.section-title h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 25px;
}
.section-title p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
}
.template {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  margin-inline: auto;
}
.left-template,
.right-template {
  min-height: 560px; 
  padding: 24px;
  border: 2px solid lavender;
  border-radius: 25px;
  width: 40%;
}
.mcp,
.agent {
  padding: 24px;
  color: #02ff96;
}
.built,
.manage {
  font-size: 32px;
  line-height: 1.2;
  color: #08090b;
  padding: 12px;
}
.product,
.debt {
  font-size: 18px;
  max-width: 90%;
  color: #111;
  line-height: 1.5;
  padding: 24px;
}
.assistant {
  margin: 160px auto;
  padding: 80px 40px;
  width: 80%;
  text-align: center;
  height: auto;
  border: 1px solid lavender;
  border-radius: 25px;
  outline: none;
}
.assi {
  color: #0ef293;
  font-size: 20px;
  font-weight: 500;
  padding: 25px;
}
.user {
  color: #08090b;
  font-size: 32px;
  font-weight: 600;
  padding: 25px;
}
.turn {
  color: #333;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 35px;
}
.assistant img {
  width: 100%;
}

.enterprise-section {
  margin-top: -150px;
  width: 100%;
  background-color: rgba(97, 94, 94, 0.093);
  text-align: start;
  width: 100%;
  padding: 120px 0;
}
.enterprise-section h4,
.enterprise-section h1,
.enterprise-section p,
.enterprise-section button {
  width: 80%;
  margin: 20px auto;
}

.enterprise-section h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #02ff96;
}
.enterprise-section h1 {
  font-size: 40px;
  color: #08090b;
  line-height: 1.2;
}

.enterprise-title-cta {
  display: flex;
  justify-content: end;
  gap: 50px;
  width: 80%;
  margin: 40px auto;
  align-items: center;
}
.title {
  font-size: 24px;
  font-weight: 400;
  padding-left: 25px;
}

.CTA-enterprise {
  background-color: #111;
  color: #fff;
  border: none;
  outline: none;
  padding: 24px;
  border-radius: 50px;
  cursor: pointer;
  padding: 16px 28px;
  width: 10%;
}
.enterprise-card {
  width: 80%;
  margin: 80px auto;
  display: flex;
  gap: 60px;
}

.left-card,
.right-card {
  width: 50%;
  padding: 32px;
  border-radius: 20px;
  background-color: #fff;
}

.right-card img,
.left-card img {
  height: 50px;
  width: 50px;
}
.left-card h3,
.right-card h3 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 400;
}

.left-card p,
.right-card p {
  margin-left: 0;
  font-size: 20px;
  line-height: 1.15;
}
.anthropic {
  width: 80%;
  margin: 120px auto;
  border-radius: 28px;

  background-image: url("MintiflyImages/anthropic.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.anthropic-content {
  position: relative;
  padding: 80px;
  color: #fff;
  max-width: 70%;
}

.anthropic h4 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.anthropic h3 {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.anthropic a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  margin-bottom: 150px;
  text-decoration: none;
}

.stats {
  display: flex;
  gap: 80px;
}

.stats h1 {
  font-size: 48px;
  margin-bottom: 8px;
  color: #fff;
}

.stats p {
  font-size: 16px;
  color: #ddd;
}

.logo-sec {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 80%;
  margin: 20px auto;
}
.testimonials {
  background-color: #fff;
}
.title-testimonials {
  margin-top: -50px;
  text-align: center;
}
.title-testimonials h5 {
  padding: 24px;
  color: #02ff96;
  font-size: 18px;
  font-weight: 400;
}
.title-testimonials h1 {
  font-size: 40px;
  padding: 12px;
  font-weight: 600;
  color: #111;
}
.title-testimonials {
  font-size: 20px;
  line-height: 1.5;
}

.social-app {
  width: 100%;
  padding: 60px 0;
}

.social-track {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.social-card {
  min-width: 420px;
  background: #fff;
  padding: 24px;
  border-radius: 18px;
  color: #111;
  border: 1px solid black;
  outline: none;
  overflow: auto;
}
.social-card h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}
.social-card img {
  height: 212px;
  width: 100%;
  margin-bottom: 16px;
  margin-left: 0;
  border-radius: 25px;
}

.social-card p {
  font-size: 20px;
  line-height: 1.5;
  color: #111;
  margin-bottom: 14px;
}

.social-card a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.social-card a:hover {
  color: #02ff96b0;
}

.CTA-DEMO {
  text-align: center;
  background-color: rgba(97, 94, 94, 0.056);
}
.CTA-DEMO h1 {
  padding: 25px;
  font-size: 48px;
}
.CTA-DEMO p {
  font-size: 24px;
}
.CTA-DEMO button {
  margin-top: 50px;
  font-size: 24px;
  border-radius: 50px;
  border: none;
  display: inline-flex;
  margin-left: 10px;
}
.free {
  color: white;
  background-color: black;
  padding: 12px;
}
.demo {
  background-color: rgba(255, 255, 255, 0.745);
  color: black;
  padding: 12px;
}
.demo:hover {
  background-color: rgba(190, 186, 186, 0.893);
  color: #111;
}

.card-terms {
  display: flex;
  width: 80%;
  margin: 150px auto 0;
  border-radius: 24px;
  overflow: hidden;
}

.left-terms,
.right-terms {
  flex: 1;
  padding: 40px 50px;
  color: #111;
}

.left-terms {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.card-terms h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.card-terms p {
  font-size: 24px;
  color: #111;
  margin-bottom: 20px;
}

.card-terms a {
  font-size: 20px;
  color: #02ff96;
  cursor: pointer;
}

.card-terms a:hover {
  text-decoration: underline;
}
.footer {
  background: #fff;
  padding: 60px 0 40px;
  font-family: system-ui, sans-serif;
  color: #111;
}

.footer-top {
  width: 80%;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-brand img {
  height: 28px;
}

.footer-socials a {
  margin-left: 18px;
  text-decoration: none;
  color: #3d3737;
  font-size: 20px;
}

.footer-links {
  width: 80%;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-links h4 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 400;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 14px;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-middle {
  width: 80%;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #eee;
  padding-top: 30px;
}

.footer-middle p {
  font-size: 16px;
}

.badge {
  border: 1px solid #ddd;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: #555;
}

.footer-bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 14px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0a8f5b;
}
